{% extends "base.html" %}
{% block content %}
    <h2>Perscriptions</h2>
    <div>
    {% for prescription in prescriptions %}
    	<tr>
    		<td> Name {{ prescription.patient }}, </td>
    		<td> Rfid # {{ prescription.rfid }}, </td>
    		<td> Id {{prescription.id}}</td>
    	</tr><br>
    {% endfor %}
    </div>
    <h2>Pills</h2>
    <div>
    {% for pill in pills %}	
    	<tr>
    		<td>Name {{ pill.name }}, </td>
    		<td>Tube {{ pill.tube }}, </td>
    		<td>Dose {{ pill.dose }}, </td>
    		<td>Load {{ pill.load }}, </td>
    		<td>Id {{ pill.id }}</td>
    	</tr><br>
    {% endfor %}
    </div>
    <h2>Times</h2>
    <div>
    {% for join in joins %}
    	<tr>
    		<td>PillId {{ join.pillId }}, </td>
    		<td>PrescriptionId {{ join.prescriptionId }}, </td>
    		<td>Time {{ join.times }}, </td>
    		<td>Id {{ join.id }}</td>
    	</tr>
    {% endfor %}
    </div>
{% endblock %}